/* src/index.css */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
}

@layer base {

    button:focus-visible,
    input:focus-visible,
    a:focus-visible {
        outline: 2px solid #3b82f6;
        /* blue-500 */
        outline-offset: 2px;
        border-radius: 0.5rem;
    }
}

@layer utilities {
    @keyframes slide-in {
        from {
            opacity: 0;
            transform: translateY(-8px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-slide-in {
        animation: slide-in 0.2s ease-out;
    }
}